 {
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "@emotion"],
  "extends": ["plugin:@typescript-eslint/recommended"],
   "rules": {
     "@typescript-eslint/explicit-module-boundary-types": "off"
   }
}
