<div class="row">
  <div class="col-md-12">
    <ngx-datatable
      #table
      [sorts]="[
        { prop: 'startDate', dir: 'asc' },
        { prop: 'title', dir: 'asc' }
      ]"
      class="rc-datatable material"
      [columnMode]="'force'"
      [rowHeight]="'auto'"
      [rows]="reservations"
    >
      <ngx-datatable-column
        [maxWidth]="180"
        prop="name"
        [minWidth]="80"
        name="Event Name"
      >
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{ row.name }}
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column
        minWidth="80"
        maxWidth="110"
        prop="price"
        name="Price"
      >
        <ng-template let-row="row" ngx-datatable-cell-template>
          ${{ row.price }}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column prop="startDate" name="Date & Time">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{ row.startDate | momentDate: "MMM D, YYYY h:mma":row.timezone }} -
          {{ row.endDate | momentDate: "h:mma":row.timezone }}
        </ng-template>
      </ngx-datatable-column>
      <!--      <ngx-datatable-column name="Venue" prop="venueName">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.venueName | truncate:30}}
        </ng-template>
      </ngx-datatable-column>-->

      <ngx-datatable-column
        [minWidth]="110"
        [maxWidth]="150"
        name="Payment status"
        prop="status"
      >
        <ng-template let-row="row" ngx-datatable-cell-template>
          <span
            *ngIf="row.paymentStatus !== 3"
            class="EntityPublishLabel EntityPublishLabel--draft"
          >
            <i></i> {{ getPaymentStatus(row.paymentStatus) }}
          </span>
          <span
            *ngIf="row.paymentStatus === 3"
            class="EntityPublishLabel EntityPublishLabel--published"
          >
            <i></i> {{ getPaymentStatus(row.paymentStatus) }}
          </span>
        </ng-template>
      </ngx-datatable-column>
      <!-- <ngx-datatable-column
        [minWidth]="100"
        [width]="100"
        [cellClass]="'actions-column'">
        <ng-template let-row="row" ngx-datatable-cell-template>
          <a href="" tabindex="-1"
             class="table-action-button btn btn-empty"
             [routerLink]="['/client/events/event-creator/' + row.id]">
            <i class="icon-rc-edit-2"></i>
            Edit
          </a>
        </ng-template>
      </ngx-datatable-column>-->
    </ngx-datatable>
  </div>
</div>
