@import "~@rcenter/core/scss/variables/index";

.login-wrapper-page {
  height: 100%;
  display: flex;

  .wrapper-side {
    height: 100%;
    position: relative;

    &.left {
      flex: 2;
      min-width: 460px;
      padding: 50px;
    }

    &.right {
      flex: 8;

      .inner-background {
        background-size: cover;
        height: 100%;
        opacity: 0.5;
        position: absolute;
        width: 100%;
      }

      .gradient-bg {
        background-size: cover;
        background-image: linear-gradient(to bottom, $brand-accent, rgba(255, 163, 29, 0));
        transform: rotate(-180deg);
        position: absolute;
        width: 100%;
        height: 100%;
      }
    }

    .content-wrapper {
      position: relative;
      z-index: 2;
    }
  }

  .logo-wrapper {
    text-align: center;

    img {
      max-width: 200px;
    }
  }

  .form-wrapper {
    margin-top: 140px;

    h1 {
      font-size: 48px;
      color: $brand-accent;
      font-family: $font-brand;
      line-height: 1.25;
    }

    .input {
      margin-bottom: 40px;

      input {
        font-size: 12px;
        font-family: $font-brand;
        color: $brand-dark;
        text-transform: uppercase;
        font-weight: bold;
        text-align: center;
        padding-left: 0;
        border: none;
        border-bottom: 2px solid $brand-grey;

        &.password {
          color: $brand-accent;
          letter-spacing: 10px;
          font-size: 14px;
        }

        &:focus {
          border-color: $brand-accent;
        }
      }

      i {
        color: $brand-accent;
      }

      &.has-error {
        input {
          border-bottom: 2px solid $brand-red;
          color: $brand-grey;
        }

        i {
          color: $brand-grey;
        }
      }

      ::-moz-placeholder {
        font-size: 12px;
        color: $brand-grey;
        letter-spacing: 1px;
      }

      ::-webkit-input-placeholder {
        font-size: 12px;
        color: $brand-grey;
        letter-spacing: 1px;
      }
    }

    &.login-wrapper {
      h1 {
        margin-bottom: 80px;
      }
    }

    &.forgot-wrapper {
      p {
        font-family: $font-brand;
        font-weight: bold;
        line-height: 1.95;
        position: relative;
        top: -30px;
        margin-bottom: 25px;
      }
    }
  }

  .login-bottom-wrapper {
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;

    .bottom-inner {
      margin: 0 50px;
      border-top: 1px solid $brand-grey;

      button {
        padding-top: 30px;
        padding-bottom: 40px;
        font-weight: bold;
        font-size: 12px;
      }
    }
  }

  .logged-in-checkbox {
    margin-top: 11px;

    label {
      color: $brand-accent;
      font-size: 10px;
    }
  }

  .content-wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    height: 100%;
    padding: 50px;

    .content-bottom {
      display: flex;
    }

    .widget-wrapper {
      min-width: 230px;
    }

    .text-wrapper {
      padding-right: 10px;

      h1 {
        margin-bottom: 0;
        font-size: 63px;
        color: white;
        line-height: 1.13;
      }
    }
  }
}

:host ::ng-deep .loader-inner div {
  width: 7px;
  height: 7px;
}
