<div class="page-header bottom-divider page-header--no-margin">
  <div class="row">
    <div class="col-md-12">
      <div class="top-wrapper">
        <rc-back-btn></rc-back-btn>
      </div>
      <div class="bottom-wrapper">
        <div class="row">
          <div class="col-md-12">
            <h3 class="pull-left text-uppercase">
              {{isCreate? 'CREATE' : 'EDIT'}} QUESTIONNAIRE
            </h3>
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
<div class="inner_page inner_page__form padding-top-20">
  <div class="row inner-page__content">
    <div class="col-md-12">
      <div class="WizardForm WizardForm__has-bottom-nav WizardForm__left-fix" #scrollArea>
        <div class="WizardForm__navigation">
          <div>
            <div class="WizardForm__navigation__header">
              <h3>
                SET UP YOUR CUSTOM APPLICATION FORM
              </h3>
            </div>
          </div>
        </div>
        <div class="WizardForm__content">
          <div class="WizardForm__content__inner">
            <div class="form">
              <form action="" [formGroup]="questionsForm" novalidate>
                <div class="input-group" [formGroup]="questionsForm.get('questionsSettings')">
                  <label for="">
                    <i class="icon-rc-calendar"></i> QUESTIONNAIRE TITLE
                    <span
                      class="pull-right">{{questionsForm.get('questionsSettings').get('title').value?.length}}/100</span>
                  </label>

                  <div class="input-wrapper">
                    <input type="text" class="input" formControlName="title" maxlength="60">
                  </div>
                </div>
                <rc-org-questions-edit-form
                  [questionDescription]="'Drag & drop to change the order of questions the customer will be asked prior to submitting a booking request. You can make the questions mandatory or not and you can add custom questions to your application form.'"
                  [formGroup]="questionsForm.get('questionsSettings')">
                </rc-org-questions-edit-form>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="row bottom-nav-bar">
        <div class="bottom-nav-bar__inner">
          <div class="bottom-nav-bar__inner__content">
            <rc-loading-btn [loading]="loading" [text]="'COMPLETE'" [disabled]="!questionsForm.valid"
              (onClick)="submit(questionsForm.value)"
              [classes]="['button-next', 'button', 'button-dark', 'pull-right']">
            </rc-loading-btn>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>