<nz-layout class="full-height">
  <nz-page-header nzTitle="Season schedule">
    <nz-breadcrumb nz-page-header-breadcrumb nzSeparator=">">
      <nz-breadcrumb-item>
        <a [routerLink]="'/client/activities'">Programs</a>
      </nz-breadcrumb-item>
      <nz-breadcrumb-item>
        <a [routerLink]="'/client/programs/' + programsService.getProgramTypeParam()">{{
          programsService.getProgramTypeParam() | uppercase
        }}</a>
      </nz-breadcrumb-item>
      <nz-breadcrumb-item
        ><a
          [routerLink]="'/client/programs/' + programsService.getProgramTypeParam() + '/' + programsService.getPrgId()"
        ></a
        >{{ programName | uppercase }}</nz-breadcrumb-item
      >
      <nz-breadcrumb-item
        ><a>{{ seasonName | uppercase }}</a></nz-breadcrumb-item
      >
    </nz-breadcrumb>
  </nz-page-header>
  <nz-layout>
    <div class="season-steps">
      <nz-steps [nzCurrent]="1" nzSize="small">
        <nz-step nzTitle="Basic Info"></nz-step>
        <nz-step nzTitle="Schedule"></nz-step>
        <nz-step nzTitle="Pricing"></nz-step>
        <nz-step nzTitle="Add-ons"></nz-step>
        <nz-step nzTitle="Space Allocation"></nz-step>
      </nz-steps>
    </div>
  </nz-layout>
  <nz-layout *ngIf="loading">
    <nz-row nzType="flex" nzAlign="middle" nzJustify="center" style="height: 75vh;">
      <nz-spin nzSimple></nz-spin>
    </nz-row>
  </nz-layout>
  <nz-content class="body-scroll" style="height: 100%;" *ngIf="!loading">
    <nz-layout class="body-padding">
      <form nz-form nzLayout="vertical">
        <nz-row nzType="flex" nzGutter="24">
          <nz-col nzMd="24" nzLg="12">
            <nz-form-item (click)="onDangerousFieldClick()">
              <nz-form-control class="colored-input">
                <rc-week-days-hours-select
                  *ngIf="weekData && weekData.length > 0"
                  id="season-act-times"
                  [weekData]="weekData"
                  (onChange)="onChange($event)"
                  labelString="Activity days and hours"
                  [disabled]="dangerousUpdateAccepted ? false : updateMode"
                ></rc-week-days-hours-select>
              </nz-form-control>
            </nz-form-item>
            <nz-form-item (click)="onDangerousFieldClick()">
              <nz-form-control class="colored-input">
                <rc-schedule-constraints
                  [constraints]="constraints"
                  [dateRange]="[
                    programsFormService.seasonForm.get('startDate').value,
                    programsFormService.seasonForm.get('endDate').value
                  ]"
                  (onConstraintChange)="onConstraintChange($event)"
                  labelString="Schedule constraints"
                  [disabled]="dangerousUpdateAccepted ? false : updateMode"
                >
                </rc-schedule-constraints>
              </nz-form-control>
            </nz-form-item>
          </nz-col>
          <nz-col nzMd="24" nzLg="12" *ngIf="segmentType && segmentType === 'program_season'">
            <nz-form-item>
              <nz-form-control class="colored-input">
                <rc-season-segments
                  labelString="Season sessions"
                  [sessions]="programsFormService.seasonForm.get('subSeasons').value"
                  (onSessionChange)="onSessionChange($event)"
                  [disabled]="dangerousUpdateAccepted ? false : updateMode"
                  (onDangerousAccepted)="onDangerousAccepted()"
                ></rc-season-segments>
              </nz-form-control>
            </nz-form-item>
          </nz-col>
        </nz-row>
      </form>
    </nz-layout>
  </nz-content>
  <nz-footer>
    <div class="footer-button-layout">
      <button nz-button nzType="link" nzGhost class="back-ghost-btn" (click)="navBack()">
        <i nz-icon nzType="arrow-left" nzTheme="outline"></i>
        {{ "Back" | uppercase }}
      </button>
      <button nz-button nzType="primary" class="accent-button" [nzLoading]="loading" (click)="navNext()">
        {{ "Continue" | uppercase }}
      </button>
    </div>
  </nz-footer>
</nz-layout>
