<div class="inner-page scrollable">
  <div class="page-header bottom-divider">
    <div class="row">
      <div class="col-md-12">
        <div class="top-wrapper">

        </div>
        <div class="bottom-wrapper">
          <h3 class="pull-left">RESERVATIONS</h3>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
  <div class="page-content inner-page__content">
    <div class="row">
      <div class="col-md-12" *ngIf="loading" >
        <loaders-css [loader]="'ball-pulse'" [loaderClass]="'rc-loader-assertive'"></loaders-css>
      </div>
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-2 col-sm-3 col-xs-6">
            <div class="DropdownSelectWrapper input-group" dropdown>
              <label for="">
                RESERVATION STATUS
              </label>
              <select name="" class="select" [(ngModel)]="filters.orderStatus" (change)="selectStatus($event.target.value)">
                <option value="" selected>Show All</option>
                <option value="active">Active</option>
                <option value="waitingAdmin">Waiting Admin</option>
                <option value="waitingClient">Waiting Client</option>
                <option value="canceled">Canceled</option>
              </select>
            </div>
          </div>
          <div class="col-md-2 col-sm-3 col-xs-6">
            <div class="DropdownSelectWrapper input-group" dropdown>
              <label for="">
                SPACE NAME
              </label>
              <select name="" class="select" [(ngModel)]="filters.spaceId" (change)="selectSpace($event.target.value)">
                <option value="" selected>Show All</option>
                <option *ngFor="let space of spaces" [value]="space.id">{{space.name}}</option>
              </select>
            </div>
          </div>
          <div class="col-md-2 col-sm-3 col-xs-6">
            <div class="input-group">
              <label for="">Customer</label>
              <ng-select
                #customersInput
                (selected)="customerSelected($event)"
                (typed)="onCustomerTyped($event)"
                [ngModel]="filters.customerId"
                placeholder="Type customer name">
              </ng-select>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12" *ngIf="!loading && !reservations?.length">
        <div class="PageEmptyState">
          <h5>
            No reservations yet
          </h5>
          <p>
            Reservations will be added automatically when your facility is booked.
          </p>
        </div>
      </div>
      <div class="col-md-12" *ngIf="!loading && reservations?.length" style="overflow: hidden">

        <ngx-datatable
          style="height: 100%"
          #table
          [loadingIndicator]="loading"
          [trackByProp]="'id'"
          [rowHeight]="50"
          [scrollbarV]="true"
          [sorts]="[{ prop: 'name', dir: 'asc' }]"
          class="rc-datatable material"
          [columnMode]="'force'"
          [rows]="reservations">
          <ngx-datatable-column name="ID" prop="id" [maxWidth]="50">
            <ng-template let-row="row" ngx-datatable-cell-template>
              {{row.id}}
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Event name" prop="name">
            <ng-template let-row="row" ngx-datatable-cell-template>
              {{row.name | truncate:30}}
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Event date" prop="startDate" minWidth="250">
            <ng-template let-row="row" ngx-datatable-cell-template>
              {{row.startDate | momentDate:'MMM D, YYYY h:mma': venue.timezone || 'gmt' }} - {{row.endDate | momentDate:'h:mma': venue.timezone || 'gmt'}}
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Customer name" prop="customer.name">
            <ng-template let-row="row" ngx-datatable-cell-template>
              {{row.customer.name}}
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Price" prop="price">
            <ng-template let-row="row" ngx-datatable-cell-template>
              {{row.price | currency}}
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Space name" prop="space.name">
            <ng-template let-row="row" ngx-datatable-cell-template>
              {{row.space?.name}}
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column
            [minWidth]="165"
            [width]="165"
            [cellClass]="'actions-column'">
            <ng-template let-row="row" ngx-datatable-cell-template>
              <a href="" tabindex="-1" [routerLink]="['/client/orders/' + row.orderId + '/details']" class="btn btn-empty">
                <i class="icon-rc-edit-2"></i>
                Edit
              </a>
            </ng-template>
          </ngx-datatable-column>
        </ngx-datatable>
      </div>
    </div>
  </div>
</div>

<rc-booking-edit-modal (onUpdate)="getEvents()" [venue]="venue" [spaces]="spaces" #bookingEditModal="modal"></rc-booking-edit-modal>
<rc-new-booking-modal (onSavedBooking)="getEvents()" [venue]="venue" [spaces]="spaces" #newBookingModal="modal"></rc-new-booking-modal>
