@import "~@rcenter/core/scss/variables/index";

.season-teams-page-wrapper {
  padding-bottom: 50px;

  .tabs__navigation {
    margin-top: 20px;
  }

  .tabs__content {
    margin-top: 30px;
  }

  table {
    .action-column {
      font-size: 11px;
    }
  }

  .empty-player-card {
    height: 150px;
    border: 1px dashed $brand-grey;

    .inner-content {
      color: $brand-dark-grey;
      padding-top: 40px;

      i {
        font-size: 17px;
        display: block;
        margin-bottom: 15px;
      }
    }
  }

  .teams-list-wrapper {
    .team-edit-btn {
      padding: 0 10px;
      display: none;
      font-size: 13px;
      line-height: 8px;
    }

    .box-item {
      transition: all .3s;
      border: 1px solid transparent;
    }

    .box-header {
      .gu-transit {
        display: none !important;
      }

      &:hover {
        .team-edit-btn {
          display: inline-block;
        }
      }
    }
  }
}

.BottomActionsBar {
  height: 50px;
  box-shadow: 3px 0 4px 0 rgba(155, 155, 155, 0.31);
  background: white;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: all .3s ease-in;
  opacity: 1;

  .BottomActionsBar__container {
    max-width: 780px;
    margin: 0 auto;
    height: 50px;
    padding: 8px;
  }

  &.BottomActionsBar--hidden {
    opacity: 0;
    bottom: -50px;
  }

  ::ng-deep .button {
    height: 35px;
    padding-left: 32px;
    padding-right: 32px;

  }
}


::ng-deep .tooltip-inner {
  background: white !important;
  width: auto;
  color: $brand-dark-grey;
  font-size: 11px;
  padding: 5px 10px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.14);
  border: solid 1px #ededed;
  font-family: $font-default;

}

::ng-deep .tooltip.right .tooltip-arrow,
::ng-deep .tooltip-arrow {
  border-right-color: white !important;
  border-bottom-color: white !important;
  border-top-color: white !important;
}


.season-team-label {
    i {
      color: $brand-accent;
      font-size: 17px;
      position: relative;
      top: -2px;
    }
}

.team-options-button {
  display: inline-block;
  margin-right: -10px;

  i {
    font-size: 13px;
    color: #8c8c8c;
  }
}


.box-item.dragula-hover {
  border: 1px solid $brand-accent !important;
}

.more-options-button {
  background: transparent;
  border: none;
  position: relative;
  top: -6px;
  margin-right: 10px;
  i {
    transition: color .3s;
    font-size: 20px;
    color: #8c8c8c;
    margin-right: 0;
  }

  &:hover {
    i {
      color: $brand-accent;
    }
  }
}


.PopupMenuWrapper {
  width: 110px;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      font-size: 10px;
      color: $brand-dark-grey;
      border-bottom: solid 1px #d6d6d6;

      a {
        line-height: 22px;
      }

      &:last-child {
        border-bottom: none;
      }
    }

    i {
      text-align: center;
      font-size: 8px;
      display: inline-block;
      width: 20px;
    }
  }
}


.DivisionTeamsBlock {
  margin-bottom: 15px;

  &.DivisionTeamsBlock--style-disabled {
    border: none !important;

    .DivisionTeamsBlock__header {
      display: none;
    }
  }

  .DivisionTeamsBlock__header {
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    color: white;
    padding: 14px;

    &:hover {
      cursor: pointer;
    }
  }

  .DivisionTeamsBlock__content {
    background: #f6f6f6;
    padding: 17px 8px;
  }
}

.DivisionTeamsBlock__content {
  .box-item {
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.1);
    padding-left: 25px;
  }

  .box-item:last-child {
    margin-bottom: 0;
  }
}


.drag-left-handle {
  background-color: #ffe5bc;
  color: $brand-accent;
  transform: rotate(90deg);
  position: absolute;
  left: -36px;
  top: -3px;
  width: 40px;
  text-align: center;

  i {
    line-height: 20px;
    font-size: 8px;
    margin-right: 0;
  }
}

.EmptyStateMessage {
  max-width: 260px;
  margin: 0 auto;
  text-align: center;
  opacity: 0.4;

  h5 {
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    color: $brand-dark;
    margin-bottom: 0;
  }

  i {
    text-align: center;
    font-size: 70px;
    color: $brand-dark;
    display: inline-block;
  }

  p {
    font-size: 15px;
    text-align: center;
    color: $brand-dark;
  }
}
