@import "~@rcenter/core/scss/variables/index";

.DurationBoxes {
  display: flex;
  justify-content: space-between;

  .DurationBoxes__item {
    flex: 1;
    border-radius: 2px;
    border: solid 1px #d5d5d5;
    line-height: 35px;
    font-size: 12px;
    color: $brand-black;
    font-weight: bold;
    text-align: center;
    display: inline-block;
    margin: 0 5px;

    &:hover {
      cursor: pointer;
    }

    &.DurationBoxes__item--active {
      background-color: rgb(255,191,0);
      box-shadow: 0 5px 11px 0 rgba(74, 74, 74, 0.17);
      color: white;
    }
  }
}

.NumberPicker {
  input {
    -webkit-appearance: none;
  }
}


.ActivityTimeWidget {
  box-shadow: 0 8px 15px 0 rgba(0, 0, 0, 0.1);
  padding: 14px 12px;
  margin-bottom: 15px;
  overflow: hidden;

  .ActivityTimeWidget__add-btn {
    a {
      color: rgb(255,191,0);
      font-weight: bold;
      font-size: 10px;

      i {
        font-size: 8px;
      }
    }
  }

  .ActivityTimeWidget__times-wrapper__item {
    margin-bottom: 20px;
  }
}

.days-select {
  p {
    color: $brand-black;
  }

  li {
    display: inline-block;
    margin-right: 5px;

    label {
      font-weight: bold;
      color: #4a4a4a;
    }
  }
}

.checkbox input + label::before {
  margin-right: 6px;
}

::ng-deep .timepicker-wrapper {
  padding-left: 0 !important;
}

.time-item-row {
  align-items: center;
  display: flex;

  label {
    margin-right: 10px;
    font-weight: normal;
    position: relative;
    top: -7px;
  }
}

::ng-deep tbody tr.text-center {
  display: none;
}

.time-item-row label {
  top: -3px !important;
  font-weight: 200;
}

.NumberPicker .NumberPicker__btn {
  background: rgb(255,191,0);
}

.NumberPicker .NumberPicker__box {
  input, i {
    color: rgb(255,191,0);
    font-style: normal;
  }
}


::ng-deep .button.button-assertive {
  background: rgb(255,191,0) !important;
}

.inline-checkboxes {
  margin-bottom: 15px;

  .checkbox {
    display: inline-block;
    margin-right: 20px;

    label {
      font-weight: bold;
    }
  }
}


.custom-duration-btn {
  color: rgb(255,191,0);
  font-weight: bold;
  font-size: 12px;
}
