<nz-layout class="full-height">
  <nz-page-header nzTitle="Season details">
    <nz-breadcrumb nz-page-header-breadcrumb nzSeparator=">">
      <nz-breadcrumb-item>
        <a [href]="'client/activities'">{{ "PROGRAMS" | uppercase }}</a>
      </nz-breadcrumb-item>
      <nz-breadcrumb-item>
        <a
          [routerLink]="
            '/client/programs/' + this.programsService.getProgramTypeParam() + '/' + this.programsService.getPrgId()
          "
          >{{ this.currentProgramName | uppercase }}</a
        >
      </nz-breadcrumb-item>
      <nz-breadcrumb-item>{{
        this.programsService.getSeasonId() > 0
          ? this.seasonForm.get("name").value
          : ("NEW " + this.programsService.getProgramType() | uppercase)
      }}</nz-breadcrumb-item>
    </nz-breadcrumb>
  </nz-page-header>
  <nz-layout>
    <div class="season-steps">
      <nz-steps [nzCurrent]="0" nzSize="small">
        <nz-step nzTitle="Basic Info"></nz-step>
        <nz-step nzTitle="Schedule"></nz-step>
        <nz-step nzTitle="Pricing"></nz-step>
        <nz-step nzTitle="Add-ons"></nz-step>
        <nz-step nzTitle="Space Allocation"></nz-step>
      </nz-steps>
    </div>
  </nz-layout>
  <nz-content class="body-scroll">
    <nz-layout *ngIf="loading">
      <nz-row nzType="flex" nzAlign="middle" nzJustify="center" style="height: 75vh;">
        <nz-spin nzSimple></nz-spin>
      </nz-row>
    </nz-layout>
    <nz-layout class="body-padding" *ngIf="!loading">
      <form nz-form nzLayout="vertical" action="" [formGroup]="seasonForm">
        <nz-row nzGutter="24">
          <nz-col nzMd="24" nzLg="12">
            <nz-form-item>
              <nz-form-label nzFor="seasonName">Season name</nz-form-label>
              <nz-form-control class="colored-input">
                <input
                  nzSize="large"
                  nz-input
                  name="seasonName"
                  type="text"
                  id="seasonName"
                  formControlName="name"
                  placeholder="ex: Boys basketball spring 2022"
                  (change)="onNameChange($event)"
                />
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-label nzFor="desc">Short description</nz-form-label>
              <nz-form-control class="colored-input">
                <rc-rich-text-wrapper
                  [initialValue]="seasonForm.get('description').value || ''"
                  max="100000"
                  (handleChange)="shortDescInputChanged($event)"
                  (setDescLength)="shortDescInputLengthChanged($event)"
                ></rc-rich-text-wrapper>
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-label nzFor="desc">Long description</nz-form-label>
              <nz-form-control class="colored-input">
                <rc-rich-text-wrapper
                  [initialValue]="seasonForm.get('longDescription').value || ''"
                  max="100000"
                  (handleChange)="descInputChanged($event)"
                  (setDescLength)="descInputLengthChanged($event)"
                ></rc-rich-text-wrapper>
              </nz-form-control>
            </nz-form-item>
          </nz-col>
          <nz-col nzMd="24" nzLg="12">
            <nz-form-item>
              <nz-form-label nzFor="location">Select program location</nz-form-label>
              <nz-form-control>
                <nz-select
                  id="location"
                  nzShowSearch
                  nzSize="large"
                  style="width: 100%;"
                  formControlName="facilityId"
                  (ngModelChange)="onLocationChange($event)"
                >
                  <nz-option *ngFor="let venue of venues" [nzLabel]="venue.name" [nzValue]="venue.id"> </nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-label nzFor="forms">Select forms</nz-form-label>
              <nz-form-control>
                <nz-select
                  name="forms"
                  nzSize="large"
                  style="width: 100%;"
                  nzPlaceHolder="Select forms to require"
                  formControlName="questionnaires"
                  (ngModelChange)="onQuestionChange($event)"
                >
                  <nz-option *ngFor="let option of listOfOption" [nzLabel]="option.title" [nzValue]="option.id">
                  </nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>
            <nz-form-item (click)="onDangerousFieldClick()">
              <rc-date-range-dropdown
                labelString="Season date range"
                size="small"
                [startDate]="this.programsFormService.seasonForm.get('startDate').value"
                [endDate]="this.programsFormService.seasonForm.get('endDate').value"
                (onSelectChange)="onChangeDate($event, 'season')"
                [disabled]="dangerousUpdateAccepted ? false : updateMode"
              ></rc-date-range-dropdown>
            </nz-form-item>
            <nz-form-item (click)="onDangerousFieldClick()">
              <rc-date-range-dropdown
                labelString="Registration date range"
                size="small"
                [startDate]="this.programsFormService.seasonForm.get('registrationStartDate').value"
                [endDate]="this.programsFormService.seasonForm.get('registrationEndDate').value"
                (onSelectChange)="onChangeDate($event, 'registration')"
                [disabled]="dangerousUpdateAccepted ? false : updateMode"
              ></rc-date-range-dropdown>
            </nz-form-item>
          </nz-col>
          <nz-col nzMd="24" nzLg="12">
            <nz-form-item>
              <rc-number-input-and-switch
                labelString="Max capacity of participants"
                [numValue]="this.programsFormService.seasonForm.get('maxParticipants').value"
                (onNumChange)="onNumInputChange($event, 'max')"
              ></rc-number-input-and-switch>
            </nz-form-item>
            <nz-form-item>
              <rc-number-input-and-switch
                labelString="Max number of female participants"
                [numValue]="this.programsFormService.seasonForm.get('maxFemaleParticipants').value"
                (onNumChange)="onNumInputChange($event, 'maxFemale')"
              ></rc-number-input-and-switch>
            </nz-form-item>
            <nz-form-item>
              <rc-number-input-and-switch
                labelString="Max number of male participants"
                [numValue]="this.programsFormService.seasonForm.get('maxMaleParticipants').value"
                (onNumChange)="onNumInputChange($event, 'maxMale')"
              ></rc-number-input-and-switch>
            </nz-form-item>
            <nz-form-item>
              <nz-row>
                <nz-col>
                  <nz-form-label>User can skip schedule selection</nz-form-label>
                  <div class="flex-spread-far switch-number-width">
                    <nz-switch
                      formControlName="isPunchCard"
                      [ngModel]="seasonForm.get('isPunchCard').value"
                      (ngModelChange)="isPunchCardChanged()"
                    ></nz-switch>
                  </div>
                </nz-col>
              </nz-row>
            </nz-form-item>
          </nz-col>
        </nz-row>
      </form>
    </nz-layout>
  </nz-content>
  <nz-footer class="flex-end-only">
    <button nz-button nzType="primary" class="accent-button" (click)="continueSeason()">
      {{ "Continue" | uppercase }}
    </button>
  </nz-footer>
</nz-layout>
