@import "~@rcenter/core/scss/variables/index";

.login-wrapper-page {
  height: 100%;
  display: flex;

  .wrapper-side {
    height: 100%;
    position: relative;

    &.left {
      flex: 2;
      min-width: 460px;
      padding: 50px 50px 0 50px;
      overflow: auto;
      display: flex;
      flex-direction: column;
    }

    &.right {
      flex: 8;

      .inner-background {
        background-size: cover;
        height: 100%;
        position: absolute;
        width: 100%;
      }

      .gradient-bg {
        background-size: cover;
        background-image: linear-gradient(to bottom, $brand-accent, rgba(255, 163, 29, 0));
        transform: rotate(-180deg);
        position: absolute;
        width: 100%;
        height: 100%;
      }
    }

    .content-wrapper {
      position: relative;
      z-index: 2;
    }
  }

  .logo-wrapper {
    text-align: center;

    img {
      max-width: 220px;
    }
  }

  .form-wrapper {
    margin-top: auto;

    h1 {
      font-size: 48px;
      color: $brand-accent;
      font-family: $font-brand;
      line-height: 1.25;
    }

    .input {
      margin-bottom: 40px;

      input {
        font-size: 14px;
        font-family: $font-brand;
        color: $brand-dark;
        font-weight: bold;
        text-align: center;
        padding-left: 0;
        border: none;
        border-bottom: 2px solid $brand-grey;

        &.password {
          color: $brand-accent;
          letter-spacing: 10px;
          font-size: 14px;
        }

        &:focus {
          border-color: $brand-accent;
        }
      }

      i {
        color: $brand-accent;
      }

      &.has-error {
        input {
          border-bottom: 2px solid $brand-red;
          color: $brand-grey;
        }

        i {
          color: $brand-grey;
        }
      }

      ::-moz-placeholder {
        font-size: 12px;
        color: $brand-grey;
        letter-spacing: 1px;
      }

      ::-webkit-input-placeholder {
        font-size: 12px;
        color: $brand-grey;
        letter-spacing: 1px;
      }
    }

    &.forgot-wrapper {
      p {
        font-family: $font-brand;
        font-weight: bold;
        line-height: 1.95;
        position: relative;
        top: -30px;
        margin-bottom: 25px;
      }
    }
  }

  .login-bottom-wrapper {
    width: 100%;
    margin-top: auto;

    .bottom-inner {
      margin-top: 50px;
      border-top: 1px solid $brand-grey;

      button {
        padding-top: 30px;
        padding-bottom: 40px;
        font-weight: bold;
        font-size: 12px;
      }
    }
  }

  .logged-in-checkbox {
    label {
      color: $brand-accent;
      font-size: 10px;

      a {
        text-decoration: underline;
        font-weight: bold;
      }
    }
  }

  .content-wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    height: 100%;
    padding: 50px;

    .content-bottom {
      display: flex;
    }

    .widget-wrapper {
      min-width: 230px;
    }

    .text-wrapper {
      padding-right: 10px;

      h1 {
        margin-bottom: 0;
        font-size: 63px;
        color: white;
        line-height: 1.13;
      }
    }
  }
}

:host ::ng-deep .loader-inner div {
  width: 7px;
  height: 7px;
}


.signup-login-wrapper {
  span {
    color: $brand-accent;
    font-size: 10px;

    a {
      font-weight: bold;
      text-decoration: underline;
    }
  }
}

.forgot-password-btn {
  display: inline-block;
  margin-top: 5px;
  font-size: 12px;
  font-weight: bold;
  font-family: $font-brand;
  color: $brand-dark-grey;

  &:hover {
    color: $brand-accent;
  }
}

@media screen and (max-width: 800px) {
  .login-wrapper-page {
    .wrapper-side.right {
      display: none;
    }

    .wrapper-side.left {
      min-width: 0;

      .form-wrapper {
        margin-top: 0;

        h1 {
          font-size: 36px;
          text-align: center;
          margin-bottom: 10px;
        }
      }
    }

    .signup-login-wrapper {
      margin-bottom: 10px;
    }

    .login-bottom-wrapper {
      margin-top: 0;
    }
  }
}

.CreateOrganizationSuggest {
  margin-top: 20px;
  text-align: center;
  padding: 21px;
  border-radius: 2px;
  background-color: #ffffff;
  box-shadow: 0 8px 15px 0 rgba(0, 0, 0, 0.1);

  p {
    line-height: 21px;
    color: $brand-dark;
  }

  a {
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 20px;
    box-shadow: 0 6px 11px 0 rgba(255, 163, 29, 0.34);
    padding: 10px 50px
  }
}
