@import "~@rcenter/core/scss/variables/index";

.nav-header {
  color: $brand-primary;
}

nz-steps {
  width: 100%;
}

.season-steps {
  display: flex;
  width: 100%;
  height: 70px;
  align-items: center;
  background-color: #f3f7fa;
  padding-left: 2vw;
  padding-right: 2vw;

  /*  h3 {
      color: $brand-primary;
      font-size: 16px;
      font-weight: bold;
      font-family: $font-brand;
      margin-top: 0;
      margin-bottom: 0;
    }*/
}

.input-grouping {
  display: flex;
  flex-direction: column;
}

.footer-button-layout {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.back-ghost-btn {
  color: $brand-black;
}

.ant-form-item {
  margin-bottom: 0;
}
